@charset "UTF-8";
html {
  font-size: 62.5%; }

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
  background-color: #f9f8f6; }

header #header_in .sp_logo {
  width: 100px;
  height: 27px; }
header #header_in .pc_logo {
  display: none; }
header #header_in .columns {
  position: relative; }
header #header_in h1 {
  text-align: center;
  margin: 0 auto; }
header #header_in .sp_navi .sp_navi_sns {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 0; }
  header #header_in .sp_navi .sp_navi_sns li {
    height: 25px;
    padding: 10px;
    margin: 0px; }
    header #header_in .sp_navi .sp_navi_sns li img {
      width: 23px;
      height: 23px; }
header #header_in .sp_navi #sp_navi_btn {
  cursor: pointer; }
header #header_in .sp_navi .sp_navi_toggle {
  width: 100%;
  position: absolute;
  top: 45px;
  background-color: #ff6d77;
  margin: 0;
  padding: 0;
  display: none;
  z-index: 100; }
  header #header_in .sp_navi .sp_navi_toggle li {
    list-style: none;
    margin: 0;
    padding: 0; }
    header #header_in .sp_navi .sp_navi_toggle li a {
      color: #fff;
      display: block;
      padding: 1rem;
      margin: 1.4rem;
      border-bottom: 1px solid #eee;
      font-size: 14px;
      text-decoration: none; }
    header #header_in .sp_navi .sp_navi_toggle li:last-child a {
      border-bottom: 0; }
header #header_in .pc_navi {
  display: none; }
@media (min-width: 550px) {
  header .clearfix::after {
    clear: both;
    content: '';
    display: block; }
  header .sp_logo {
    display: none; }
  header .pc_logo {
    display: block; }
  header h1 {
    text-align: center;
    margin: 0 auto; }
  header .sp_navi {
    display: none; }
  header #header_in .sp_logo {
    display: none; }
  header #header_in .pc_logo {
    display: block;
    padding: 40px 0 30px; }
  header #header_in h1 {
    text-align: center;
    margin: 0 auto; }
  header #header_in .sp_navi {
    display: none; }
  header #header_in .pc_navi {
    display: block;
    float: right; }
    header #header_in .pc_navi ul {
      list-style-type: none;
      padding-left: 0;
      display: flex;
      justify-content: center;
      margin-bottom: 0;
      height: 111px; }
      header #header_in .pc_navi ul li {
        height: 25px;
        margin: auto 0 30px;
        padding: 0px 10px; }
        header #header_in .pc_navi ul li a .pc_navi_sns {
          width: 20px;
          height: 20px; }
        header #header_in .pc_navi ul li:last-child {
          padding-right: 0; } }

#contents #main .breadcrumbs ol {
  list-style: none;
  background-color: #e8e4da;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  border-radius: 3px; }
  #contents #main .breadcrumbs ol li {
    margin: 10px 0;
    padding-left: 10px; }
    #contents #main .breadcrumbs ol li:after {
      content: '/';
      display: inline-block;
      padding-left: 10px;
      color: #887f69; }
    #contents #main .breadcrumbs ol li:last-child:after {
      display: none; }
    #contents #main .breadcrumbs ol li a {
      text-decoration: none;
      color: #887f69;
      font-size: 1.1rem; }
      #contents #main .breadcrumbs ol li a img {
        padding-right: 10px; }
#contents #main #item_details {
  background-color: white;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  left: 50%;
  right: 50%;
  padding: 20px;
  box-sizing: border-box; }
  #contents #main #item_details .name_number {
    padding: 20px 0 17px; }
    #contents #main #item_details .name_number .name {
      font-size: 1.4rem;
      font-weight: bold; }
    #contents #main #item_details .name_number .number {
      font-size: 1.0rem;
      color: #a6a6a6; }
  @media (min-width: 550px) {
    #contents #main #item_details .clearfix::after {
      clear: both;
      content: '';
      display: block; }
    #contents #main #item_details .name_number {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 40px 0 30px; } }
  #contents #main #item_details #gallery #main_image {
    padding-top: 10px;
    border-top: 1px solid #e3e8cf; }
    #contents #main #item_details #gallery #main_image img {
      width: 100%; }
  #contents #main #item_details #gallery #thumbnail {
    display: flex;
    flex-wrap: wrap; }
    #contents #main #item_details #gallery #thumbnail .sub_images {
      width: calc((100% - 30px) / 5);
      margin: 0 3px; }
      #contents #main #item_details #gallery #thumbnail .sub_images img {
        width: 100%; }
  @media (min-width: 550px) {
    #contents #main #item_details .clearfix::after {
      clear: both;
      content: '';
      display: block; }
    #contents #main #item_details #gallery {
      padding-top: 20px;
      border-top: 1px solid #e3e8cf;
      display: flex; }
      #contents #main #item_details #gallery #main_image {
        padding-top: 0;
        border-top: 0px;
        width: 70%; }
        #contents #main #item_details #gallery #main_image img {
          width: 100%; }
      #contents #main #item_details #gallery #thumbnail {
        width: 30%; }
        #contents #main #item_details #gallery #thumbnail .sub_images {
          width: calc((100% - 24px) / 2);
          margin: 0 0 0 12px; }
          #contents #main #item_details #gallery #thumbnail .sub_images img {
            width: 100%; } }
  #contents #main #item_details .size_color {
    border-top: 1px solid #e3e8cf; }
    #contents #main #item_details .size_color img {
      padding: 16px 0; }
    #contents #main #item_details .size_color table {
      width: 100%;
      height: 75px; }
      #contents #main #item_details .size_color table th {
        background-color: #f9f8f6;
        color: #887f69;
        font-size: 1.2rem;
        font-weight: normal;
        text-align: center;
        border: 1px solid #e8e4da;
        padding: 13px 0; }
      #contents #main #item_details .size_color table td {
        text-align: center;
        border: 1px solid #e8e4da;
        padding: 13px 0; }
        #contents #main #item_details .size_color table td label {
          display: block;
          width: 100%;
          height: 100%;
          margin: 0; }
        #contents #main #item_details .size_color table td input {
          margin: 0; }
  #contents #main #item_details .price_quantity_add .price_quantity .price {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e3e8cf; }
    #contents #main #item_details .price_quantity_add .price_quantity .price .price_img {
      padding: auto 0; }
      #contents #main #item_details .price_quantity_add .price_quantity .price .price_img img {
        padding: 0; }
    #contents #main #item_details .price_quantity_add .price_quantity .price .price_text {
      font-style: italic;
      padding: 20px 60px 20px 0; }
      #contents #main #item_details .price_quantity_add .price_quantity .price .price_text .red_text {
        color: #e80f66; }
      #contents #main #item_details .price_quantity_add .price_quantity .price .price_text .red_text_big {
        color: #e80f66;
        font-size: 2.0rem; }
  #contents #main #item_details .price_quantity_add .price_quantity .quantity {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e3e8cf; }
    #contents #main #item_details .price_quantity_add .price_quantity .quantity .quantity_img {
      padding: 24px 0 21px 0; }
      #contents #main #item_details .price_quantity_add .price_quantity .quantity .quantity_img img {
        padding: 0; }
    #contents #main #item_details .price_quantity_add .price_quantity .quantity .quantity_list {
      width: 140px;
      height: 35px;
      padding: 12px 44px 12px 0; }
      #contents #main #item_details .price_quantity_add .price_quantity .quantity .quantity_list input {
        box-sizing: border-box;
        border: 1px solid #e8e4da;
        width: 100%;
        height: 100%;
        margin: 0; }
  @media (min-width: 550px) {
    #contents #main #item_details .price_quantity_add .clearfix::after {
      clear: both;
      content: '';
      display: block; }
    #contents #main #item_details .price_quantity_add .price_quantity {
      width: 60%; } }
  #contents #main #item_details .price_quantity_add .add_btn {
    text-align: center;
    cursor: pointer;
    border-top: 1px solid #e3e8cf;
    padding-top: 15px; }
    #contents #main #item_details .price_quantity_add .add_btn img {
      width: 225px;
      height: 55px;
      vertical-align: bottom; }
  @media (min-width: 550px) {
    #contents #main #item_details .price_quantity_add .clearfix::after {
      clear: both;
      content: '';
      display: block; }
    #contents #main #item_details .price_quantity_add .add_btn {
      float: right;
      border-top: 0px;
      padding: 0; } }
  @media (min-width: 550px) {
    #contents #main #item_details .clearfix::after {
      clear: both;
      content: '';
      display: block; }
    #contents #main #item_details .price_quantity_add {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border-bottom: 1px solid #e3e8cf; } }
  #contents #main #item_details .item_explain_box .item_explain {
    font-size: 1.6rem;
    color: #887f69;
    border-bottom: 1px solid #e3e8cf;
    padding: 30px 0 17px;
    font-weight: bold; }
  #contents #main #item_details .item_explain_box .explain_title {
    font-size: 1.6rem;
    color: #887f69;
    padding-top: 17px;
    font-weight: bold; }
  #contents #main #item_details .item_explain_box .explain_text {
    font-size: 1.4rem;
    padding: 17px 0 24px; }
  #contents #main #item_details .item_explain_box .explain_tbl {
    padding-bottom: 30px; }
    #contents #main #item_details .item_explain_box .explain_tbl table {
      width: 100%;
      margin: 0; }
      #contents #main #item_details .item_explain_box .explain_tbl table th {
        background-color: #f9f8f6;
        color: #887f69;
        font-size: 1.2rem;
        font-weight: normal;
        text-align: center;
        border: 1px solid #e8e4da;
        padding: 0;
        width: 82px;
        height: auto; }
      #contents #main #item_details .item_explain_box .explain_tbl table td {
        border: 1px solid #e8e4da;
        padding: 13px 0;
        font-size: 1.2rem;
        color: #887f69;
        padding-left: 12px; }
        #contents #main #item_details .item_explain_box .explain_tbl table td label {
          display: block;
          width: 100%;
          height: 100%;
          margin: 0; }
        #contents #main #item_details .item_explain_box .explain_tbl table td input {
          margin: 0; }
@media (min-width: 550px) {
  #contents #main .clearfix::after {
    clear: both;
    content: '';
    display: block; }
  #contents #main #item_details {
    width: 100%;
    padding: 0 60px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    left: 0;
    right: 0; } }
#contents #main section {
  padding: 0px; }
  #contents #main section .sp_contents_index {
    text-align: center;
    height: 46px; }
    #contents #main section .sp_contents_index .sp_recent {
      padding: 10px 0 19px; }
    #contents #main section .sp_contents_index .sp_guide {
      padding: 20px 0 17px; }
  #contents #main section .pc_contents_index {
    display: none; }
  #contents #main section .flexbox {
    display: flex;
    flex-wrap: wrap; }
    #contents #main section .flexbox .item-box {
      width: calc((100% - 4px) / 2);
      background-color: #fff;
      border: 1px solid #f9f8f6; }
      #contents #main section .flexbox .item-box .item {
        margin: 0.8rem;
        margin-bottom: 0; }
        #contents #main section .flexbox .item-box .item img {
          width: 100%; }
      #contents #main section .flexbox .item-box .item_name {
        font-size: 1.1rem;
        width: 90%;
        padding: 0 0.8rem;
        margin-bottom: 1.0rem;
        letter-spacing: 0.5px; }
      #contents #main section .flexbox .item-box .item_price {
        font-size: 1.1rem;
        width: 90%;
        padding: 0 0.8rem;
        margin-bottom: 1.0rem;
        letter-spacing: 0.5px; }
    @media (min-width: 550px) {
      #contents #main section .flexbox .clearfix::after {
        clear: both;
        content: '';
        display: block; }
      #contents #main section .flexbox .item-box {
        width: calc((100% - 6px) / 3); } }
  #contents #main section .guide-flexbox {
    display: flex;
    flex-wrap: wrap; }
    #contents #main section .guide-flexbox .guide-box {
      width: 100%;
      background-color: #fff;
      padding: 2.0rem;
      padding-bottom: 0;
      margin-bottom: 0.5rem; }
      #contents #main section .guide-flexbox .guide-box h3 {
        font-size: 1.6rem;
        font-weight: bold;
        color: #887f69; }
      #contents #main section .guide-flexbox .guide-box .otodoke_banner {
        width: 58%; }
      #contents #main section .guide-flexbox .guide-box ul li {
        color: #887f69;
        list-style: none;
        font-size: 1.2rem; }
        #contents #main section .guide-flexbox .guide-box ul li img {
          width: 90%;
          margin: 0 auto; }
        #contents #main section .guide-flexbox .guide-box ul li div {
          color: #000;
          font-size: 1.2rem; }
    @media (min-width: 550px) {
      #contents #main section .guide-flexbox .clearfix::after {
        clear: both;
        content: '';
        display: block; }
      #contents #main section .guide-flexbox .guide-box {
        width: calc((100% - 4px) / 2);
        background-color: #fff;
        box-sizing: border-box;
        margin: 1px; } }
  @media (min-width: 550px) {
    #contents #main section .clearfix::after {
      clear: both;
      content: '';
      display: block; }
    #contents #main section .sp_contents_index {
      display: none; }
    #contents #main section .pc_contents_index {
      display: block;
      text-align: center;
      height: 74px; }
      #contents #main section .pc_contents_index .pc_recent {
        padding: 30px 0;
        width: 100%; }
      #contents #main section .pc_contents_index .pc_guide {
        padding: 30px 0;
        width: 100%; } }
#contents #side .search_text {
  display: none; }
#contents #side .search_container {
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 2.2rem 1.5rem;
  margin: 15px 0;
  height: 7.2rem;
  width: 100%;
  overflow: hidden;
  background: #fff; }
  #contents #side .search_container input[type="text"] {
    font-size: 1.1rem;
    border: none;
    height: 30px;
    background: #eee;
    border-radius: 0px;
    width: 100%;
    padding-left: 1.0rem; }
  #contents #side .search_container input[type="image"] {
    cursor: pointer;
    font-size: 0.5em;
    border: none;
    background: none;
    position: absolute;
    height: 2.5em;
    right: 25px;
    top: 27px;
    outline: none; }
    #contents #side .search_container input[type="image"]:focus {
      outline: 0; }
#contents #side .search_container ::-webkit-input-placeholder {
  color: #b5b5b5; }
@media (min-width: 550px) {
  #contents #side .clearfix::after {
    clear: both;
    content: '';
    display: block; }
  #contents #side .search_text {
    display: block;
    background-color: #fff;
    height: 30px; }
    #contents #side .search_text img {
      padding: 20px;
      padding-bottom: 0; }
  #contents #side .search_container {
    margin-top: 0; } }
#contents #side .link .toggle_link {
  background-color: #887f69;
  padding: 1.5rem;
  margin-bottom: 10px;
  background-image: url("../images/top/next_icon.png");
  background-size: 10px;
  background-position: right 5% bottom 50%;
  background-repeat: no-repeat; }
  #contents #side .link .toggle_link.openlink {
    background-image: url("../images/top/down_icon.png");
    background-size: 15px;
    background-position: right 5% bottom 50%;
    background-repeat: no-repeat; }
#contents #side .link ul {
  display: none;
  margin-top: -1.0rem;
  margin-bottom: 1.0rem; }
  #contents #side .link ul li {
    list-style: none;
    background-color: #fff;
    margin-bottom: 0.2rem;
    display: flex; }
    #contents #side .link ul li a {
      display: block;
      padding: 1.5rem;
      color: #000;
      font-size: 14px;
      text-decoration: none; }
    #contents #side .link ul li .next_icon_gray {
      position: absolute;
      right: 40px;
      padding-top: 20px; }
    @media (min-width: 550px) {
      #contents #side .link ul li .clearfix::after {
        clear: both;
        content: '';
        display: block; }
      #contents #side .link ul li .next_icon_gray {
        right: 10px; } }
#contents #side #about_info .flexbox {
  display: flex;
  flex-wrap: wrap; }
  #contents #side #about_info .flexbox .about_info-box .text {
    background-color: #887f69;
    padding: 1.5rem; }
  #contents #side #about_info .flexbox .about_info-box .about_info_in {
    background-color: #fff;
    display: flex;
    height: auto;
    margin-bottom: 10px; }
    #contents #side #about_info .flexbox .about_info-box .about_info_in .img_box {
      width: 43%;
      padding: 1.0rem; }
      #contents #side #about_info .flexbox .about_info-box .about_info_in .img_box .shop_img {
        width: 100%; }
    #contents #side #about_info .flexbox .about_info-box .about_info_in .explain {
      width: 40%;
      padding: 1.0rem 1.0rem 1.0rem 0; }
      #contents #side #about_info .flexbox .about_info-box .about_info_in .explain p {
        font-size: 1.1rem;
        margin-bottom: 12px; }
      #contents #side #about_info .flexbox .about_info-box .about_info_in .explain .btn_more {
        cursor: pointer;
        width: 60%; }
  @media (min-width: 550px) {
    #contents #side #about_info .flexbox .clearfix::after {
      clear: both;
      content: '';
      display: block; }
    #contents #side #about_info .flexbox .about_info-box .about_info_in {
      text-align: center;
      height: auto;
      display: block; }
      #contents #side #about_info .flexbox .about_info-box .about_info_in .img_box {
        width: 90%;
        padding: 1.0rem; }
        #contents #side #about_info .flexbox .about_info-box .about_info_in .img_box .shop_img {
          width: 100%;
          max-height: 100%; }
      #contents #side #about_info .flexbox .about_info-box .about_info_in .explain {
        width: 90%;
        padding: 0;
        margin: 0 5%; }
        #contents #side #about_info .flexbox .about_info-box .about_info_in .explain p {
          font-size: 1.2rem;
          margin-bottom: 12px; }
        #contents #side #about_info .flexbox .about_info-box .about_info_in .explain .btn_more {
          width: 60%; } }

footer {
  background-color: #f9f8f6;
  text-align: center; }
  footer .pagetop {
    width: 100%;
    height: 65px;
    border-bottom: 1px solid #887f69; }
    footer .pagetop img {
      padding: 25px 0 30px; }
  footer .utilitynav {
    padding: 10px; }
    footer .utilitynav a {
      color: #000;
      text-decoration: none;
      font-size: 1.1rem; }
  footer #copyright {
    color: #c8c5be;
    font-size: 1rem;
    margin-bottom: 90px; }
  @media (min-width: 550px) {
    footer .clearfix::after {
      clear: both;
      content: '';
      display: block; }
    footer .pagetop {
      height: 90px;
      border-bottom: 1px solid #887f69; }
      footer .pagetop img {
        width: 78px;
        height: auto;
        float: right;
        padding: 60px 0 20px; } }

/*# sourceMappingURL=products.css.map */
